<table width="60%">
        <% columns = ['Date Purchased', 'Description', h('# of emotes'), h('Transaction #'), 'Paid', 'Starts', 'Expires', 'Action'] %>
	<tr>
          <% columns.each do |header| %>
            <th align="left"><%= header %></th>
          <% end %>
	</tr>
	<% subscriptions.each do |subscription| %>
          <tr>
            <% unless subscription.trial? %>
              <td><%= subscription.transaction.date %></td>
              <td><%= raw subscription.transaction.description %></td>
              <td><%= subscription.emote_amount %></td>
              <td><%= subscription.transaction.token %></td>
              <td><%= subscription.transaction.total %></td>
            <% else %>
              <td><%= subscription.created_at %></td>
              <td>1 emote trial</td>
              <td><%= subscription.emote_amount %></td>
              <td>TRIAL</td>
              <td>0</td>
            <% end %>
            <td><%= subscription.start_date.to_s(:short) %></td>
            <td><%= subscription.end_date.to_s(:short) %></td>
            <td><%= link_to 'Edit', edit_admin_subscription_path(subscription) %></td>
          </tr>
	<% end %>
        <tr>
          <% (columns.size-1).times { %> <td>&nbsp;</td> <% } %>
          <td>
            <%= link_to 'New', new_admin_subscription_path %>
          </td>
        </tr>
</table>
