<%= content_for :head_css, stylesheet_link_tag('sortable.css') %>


<% if search %>
  <div id='search'>
  <%= form_tag({:action => @action}, {:method => 'get', :id => 'search_form'}) do %>
    <%=text_field_tag("q", params['q'], :size => 10 ) %> 
    <%= submit_tag 'Search'%> (by email, name, title, company)
  <% end %>
  </div>
<% end %>

<table width="95%" class='sortableTable' cellpadding="0" cellspacing="0">
  <thead>
    <%= table_header %>
  </thead>
  <tbody>
	<% if @objects.size == 0 %>
  	  <tr><td colspan='<%= @headings.size %>'>No items in the list</td></tr>
	<% else %>
	 <% @objects.each do |object| %>
	    <tr id='<%=dom_id(object)%>' class='<%= cycle('odd', 'even') %>'>
         <% @headings.each do |heading| %>
             <td>
               <%=
                  case heading[2]
                  when :edit then link_to(object.email, edit_admin_account_path(object))
                  else object.instance_eval(heading[1])
                  end
               %>
             </td>
         <% end %>
  		</tr>
	<%  end
	 end %>
	</tbody>
</table>
