<h4>Edit user</h4>
<br/>
<table>
  <tr>
    <td align="left" width="600">
      <%= form_for @user, :as => :user, :url => admin_account_path(@user), :html => { :method => :put } do |f| %>
        ID: <%= @user.id %>
        <br/>
        <%= render :partial => 'form', :locals => { :f => f, :users => @users, :user => @user } %>
        <br/>
        <%= f.label :password, 'Change password' %>
        <%= f.text_field :password %>
        <br/>
        <%= f.label :password_confirmation, 'Change password (confirmation)' %>
        <%= f.text_field :password_confirmation %>
        <br/><br/>
        <%= f.check_box :banned %> <%= f.label :banned, 'Disable account' %>
        <br/><br/>
        <%= submit_tag 'Modify account' %> or <%= link_to 'Cancel', admin_accounts_path %>
      <% end%>
    </td>
    <td align="center">
      <%= check_box_tag "chk-destroy-acc", false %> <%= label_tag 'chk-destroy-acc', "I'm going to delete this account" %>
      <%= button_to 'Delete Account', admin_account_path(@user), :method => :delete, :id => 'destroy-acc-btn', :disabled => true, :confirm => "This will destroy all data associated to this account. Operation is irreversible.\nAre you sure you want to delete account #{@user.email}?" %>
      <br/>
      <div style="text-align: left">
        <textarea cols="60" rows="10" readonly="readonly"><%= @user.admin_notes.map{|note| "#{note.created_at.strftime('%m/%d/%Y')} -- #{note.text}\n\n"  } %></textarea>
        <%= form_for @new_note, :as => :note, :url => add_note_admin_account_path(@user), :method => :post do |f| %>
          <%= f.text_field :text, :size => 45 %>
          <%= f.submit %>
        <% end %>
      </div>

    </td>
  </tr>
</table>

<% content_for :footer_js do %>
  <script>
    $('#chk-destroy-acc').click(function(){
      if($(this).attr('checked')){
        $('#destroy-acc-btn').removeAttr("disabled");
      }else{
        $('#destroy-acc-btn').attr("disabled", "disabled");
      }
    });
  </script>
<% end %>