<div id="content-win-centr" role="main">
  <div id="changepw-content">
    <span class="big-text">Change your password</span>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class=>"changepw-layer" }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
      </div>

      <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      </div>

      <div class="changepw">
            <%= image_submit_tag("changepw_button.png") %>
      </div>
    <% end %>

    <%= errors_for(resource) %>
  </div>
</div>