<p>
  A new customer has signed up:
</p>

<table>
  <tr><th>ID</th><td><%= @user.id %></td></tr>
  <tr><th>Email</th><td><%= @user.email %></td></tr>
  <tr><th>Name</th><td><%= @user.full_name %></td></tr>
  <tr><th>Title</th><td><%= @user.job_title %></td></tr>
  <tr><th>Company</th><td><%= @user.company %></td></tr>
  <tr><th>Country</th><td><%= @user.country_code %></td></tr>
  <tr><th>Partner code</th><td><%= @user.partner_code %></td></tr>
</table>