<p>
  A customer has upgraded his plan:
</p>

<table>
  <tr><th>ID</th><td><%= @user.id %></td></tr>
  <tr><th>Email</th><td><%= @user.email %></td></tr>
  <tr><th>Partner Code</th><td><%= @user.partner_code %></td></tr>
  <tr><th>Amount paid</th><td><%= number_to_currency(@payment.total_paid, :unit => Country.curr_code_to_symbol(@payment.currency)) %></td></tr>
  <tr><th>Transaction #</th><td><%= @payment.token %></td></tr>
  <tr><th>Plan</th><td><%= @user.plan.kind.humanize %></td></tr>
  <tr><th>Expires date</th><td><%= @user.plan.end_date.strftime('%B %d, %Y %H:%M') %></td></tr>
</table>