<div id="content-win-centr" role="main">
  <div id="viewactivity-content">
   <%= flash_messages %>
   <span class="big-text">Account Activity</span>
     <div class="currentsubs">
       Your current plan: <b><%= current_user.plan.human_name %></b>
    
        <table class="table_data">
            <tr class="table_head">
              <th>Includes</th>
              <th>Expires</th>
            </tr>
            <tr class="table_cell_left">
              <td><%= pluralize(current_user.plan.emote_amount, 'e.mote') %>&trade;</td>
              <td><%= current_user.plan.end_date.strftime('%d-%b-%Y') %></td>
            </tr>
          </table>    
      </div>

      <div class="payment_history">
        <span class="big-text">Payment History</span>
        <div class="payment_history_data">
          <table class="table_data">
            <tr class="table_head">
              <th>Date</th>
              <th>Product</th>
              <th>Paid</th>
              <th>Transaction #</th>
            </tr>
            <% @payments.each do |payment| %>
              <tr class="table_cell">
                <td><%= payment.purchase_date('%d-%b-%Y') %></td>
                <td><%= raw payment.description %></td>
                <td><%= number_to_currency(payment.total_paid, :unit => Country.curr_code_to_symbol(payment.currency)) %></td>
                <td class="table_cell_right"><%= payment.token %></td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
</div>