<div id="content-win-centr" role="main">
  <div id="viewactivity-content">
   <span class="big-text">Account Activity</span>


     <div class="currentsubs">
    
        <table class="table_data">
            <tr class="table_head">
              <th>Subscriptions</th>
              <th>Expiration</th>
            </tr>
            <% @subscriptions.each do |subscription| %>
            <tr class="table_cell_left">
              <td><%= pluralize(subscription.emote_amount, 'e.mote') %>&trade;</td>
              <td><%= subscription.end_date.strftime('%d-%b-%Y') %></td>
            </tr>
            <% end %>    
          </table>    
      </div>

      <div class="payment_history">
        <span class="big-text">Payment History</span>
        <div class="payment_history_data">
          <table class="table_data">
            <tr class="table_head">
              <th>Date</th>
              <th>Product</th>
              <th>Paid</th>
              <th>Transaction #</th>
            </tr>
            <% @payments.each do |payment| %>
              <tr class="table_cell">
                <td><%= payment.created_at.strftime('%d-%b-%Y') %></td>
              <% if payment.trial? %>
                <td>1 Pack</td>
                <td>0.00</td>
                <td class="table_cell_right">FREE TRIAL</td>
              <% else %>
                <td><%= payment.transaction.description %></td>
                <td><%= number_to_currency(payment.transaction.total, :unit => Country.curr_code_to_symbol(payment.transaction.currency)) %></td>
                <td class="table_cell_right"><%= payment.transaction.token %></td>
              <% end %>
              </tr>
            <% end %>
          </table>
        </div>
    </div>
  </div>
</div>