<div id="content-win-info" role="main">
  <div class="update_topic">
      <p>Account Activity</p>
      <span class="your_plan">Your current plan: <strong><%= current_user.plan.human_name %></strong></span>
  </div>

   <p class="trans_message" align="center"><%= flash_messages %></p>
     <div class="currentsubs">
          <table class="table_data">
            <tr class="table_head">
              <th width="20%">Features</th>
              <th>Expires</th>
            </tr>
            <tr class="table_cell_left">
              <td><%= pluralize(current_user.plan.emote_amount, 'e.mote') %>&trade;<%= ' (Scorecard limit of first 50 responses)' if current_user.plan.is_free? %></td>
              <td><%= current_user.plan.end_date.strftime('%d %b %Y') unless current_user.plan.is_free? %></td>
            </tr>
          </table>    
      </div>


      <div class="payment_history">
        <div class="update_topic">
          <p>Payment History</p>
        </div>
        <div class="currentsubs">
          <table class="table_data">
            <tr class="table_head">
              <th>Date</th>
              <th>Product</th>
              <th>Paid</th>
              <th>Transaction #</th>
            </tr>
            <% @payments.each do |payment| %>
              <tr class="table_cell_left">
                <td><%= payment.purchase_date.strftime('%d %b %Y') %></td>
                <td><%= raw payment.description %></td>
                <td><%= number_to_currency(payment.total_paid, :unit => Country.curr_code_to_symbol(payment.currency)) %></td>
                <td><%= payment.token %></td>
              </tr>
            <% end %>
          </table>
        </div>
    </div>

</div>