<div id="content-win-centr" role="main">
  <div id="subscription-content">
  <span class="big-text">Add some ScoreCards!</span>
    <br/>
    <span class="medium-text">Each ScoreCard includes unlimited responses.</span><br />

    <% Subscription::OPTIONS.each_with_index do |subscription, i| %>
	<div class="<%= %w(one-pack five-pack ten-pack twentyfive-pack)[i] %> ">
	<p class="pack-title"><%= link_to subscription[:name], account_subscriptions_path(:prod_id => subscription[:prod_code]), { :method => :post } %></p>
	<p class="pack-price"><%= subscription[:price] %> <%= Country.curr_code_to_symbol(Country.find_by_country_code(current_user.country_code || 'US')[:currency]) %> / year</p>
	<p class="pack-description"><%= subscription[:short_desc] %></p>
	<p class="pack-description"><%= subscription[:long_desc].gsub('$',Country.curr_code_to_symbol(Country.find_by_country_code(current_user.country_code || 'US')[:currency])) %></p>
	<p class="pack-description"><%= subscription[:savings].blank? ? '' : "Savings: #{subscription[:savings].gsub('$',Country.curr_code_to_symbol(Country.find_by_country_code(current_user.country_code || 'US')[:currency]))}" %></p>
        <span class="pack-purchase"><%= link_to image_tag("purchase_button.png"), account_subscriptions_path(:prod_id => subscription[:prod_code]), { :method => :post } %></span>
	</div>
    <% end %>
  </div>
  <span class="subscr_order">For Purchase Order accounts contact <a href="sales@inspirationegine.com">sales@inspirationegine.com</a></span>
</div>