<div id="content-win-subscr" role="main">
  <div id="area">
    <div id="subscription-content">
    <span class="big-text">My Subscriptions</span><br />
      <span class="medium-text-subsc">Your current plan: [Free]</span>
      <span class="small-text-subsc">To upgrade to a customized plan email us at <%= mail_to "sales@inspirationengine.com" %>.</span>
    </div>
    <div class="start_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    <div class="expand_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    <div class="magnify_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    <!-- Western European country -- EUR
    <div class="start_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    <div class="expand_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    <div class="magnify_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    -->
    <!-- UK country -- GBP
    <div class="start_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    <div class="expand_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    <div class="magnify_box_usd">
      <span class="upgr_btn_subscr"><%= link_to image_tag("upgrade_button.png"), :target => '_blank' %></span>
    </div>
    -->
  </div>
  <div class="subscr_order">
    <%= link_to "Subscription Terms", 'http://inspirationengine.com/?page_id=189', :target => '_blank' %>
  </div>
</div>