<div id="content-win-control" role="main">
  <div class="status_line">
    <span class="upgrate_acc">Upgrade Your Account</span>
    <span class="medium-text-subsc">Your current plan: <b><%= current_user.plan.human_name %></b></span>
  </div>
  <div id="area">

      <p class="big-text-subsc">Looking for a custom plan?</p>
      <p class="small-text-subsc">To upgrade to a customized plan email us at <%= mail_to "sales@inspirationengine.com" %> or call us at <span class="srong_font">435-565-1532</span> to place an order.</p>

  </div>
      <% Subscription::OPTIONS.each_with_index do |plan, i| %>
      <% next if plan[:kind]=='free' %>
      <% available = current_user.plan.can_upgrade_to?(plan[:kind]) %>

    <div id="plan_area">
      
      <div class="<%= plan[:kind] %>_box_<%= Country.get_country_currency(current_user.country_code).downcase %>">

        <p class="plan_name"><%= plan[:name] %></p>
        <p class="plan_short_descr">
          <%= case plan[:kind]
            when 'start' then 'Ideal for continuous feedback from a few points of engagement'
            when 'expand' then 'Expand the scope for customer engagement feedback points'
            when 'magnify' then 'Multi-point, multi-topic engagement feedback'
          end %>
        </p>
        <p class="plan_price">
          <% if available %>
            <span>
              <%= Country.curr_code_to_symbol(Country.find_by_country_code(current_user.country_code || 'US')[:currency]) %><span class="plan_price_digit"><%=Subscription.static_monthly_fee(plan[:kind]) %></span> / month
            </span>
           <% unless current_user.plan.is_free? %>
            <span class="credits">
                (<%= Country.curr_code_to_symbol(Country.find_by_country_code(current_user.country_code || 'US')[:currency]) %><%= current_user.plan.annual_credit %> credit)
            </span>
           <% end %>
          <% end %>
        </p>
        <hr class="plan_line_<%= plan[:kind] %>" />
        <p class="plan_description">
          
          <ul class="start_box">
            <li><%= plan[:amount] %> e.motes&reg;</li><hr />
            <li>View unlimited responses</li><hr />
            <li>e.mote&reg; Scorecard sharing</li><hr />
            <li>Automatic Feature Updates</li><hr />
          </ul>
        </p>

        <span class="upgr_btn_subscr">
          <%= link_to_if available, image_tag("upgrade_now_button-big.png"), create_account_subscriptions_path(plan[:kind]), { :method => :post } do %>
            &nbsp;
          <% end %>
        </span>
      </div>
     </div>
    <% end %>
      
  <div class="subscr_order">
    <%= link_to "Subscription Terms", 'http://inspirationengine.com/?page_id=189', :target => '_blank' %>
  </div>
  
  <div class="clearfix"></div>
  
</div>