<div id="content-win-subscr" role="main">
  <div id="area">
    <div id="subscription-content">
    <span class="big-text">My Subscriptions</span><br />
      <span class="medium-text-subsc">Your current plan: <%= current_user.plan.human_name %></span>
      <span class="small-text-subsc">To upgrade to a customized plan email us at <%= mail_to "sales@inspirationengine.com" %>.</span>
    </div>

    <% Subscription::OPTIONS.each_with_index do |plan, i| %>
      <% next if plan[:kind]=='free' %>
      <% available = current_user.plan.can_upgrade_to?(plan[:kind]) %>

      <div class="<%= plan[:kind] %>_box_<%= Country.get_country_currency(current_user.country_code).downcase %>">
        <!--
        <p style="background-color: white">
          Plan name: <%= plan[:name] %><br/>
          Emotes amount: <%= plan[:amount] %><br/>
        <% if available %>
          Cost: <%= Country.curr_code_to_symbol(Country.find_by_country_code(current_user.country_code || 'US')[:currency]) %><%= current_user.plan.calc_upgrade_price(plan[:kind]) / 12 %> / month
        <% end %>
        </p>
        -->
        <span class="upgr_btn_subscr">
          <%= link_to_if available, image_tag("upgrade_button.png"), create_account_subscriptions_path(plan[:kind]), { :method => :post } do %>
            &nbsp;
          <% end %>
        </span>
      </div>
    <% end %>

  </div>
  <div class="subscr_order">
    <%= link_to "Subscription Terms", 'http://inspirationengine.com/?page_id=189', :target => '_blank' %>
  </div>
</div>