<% content_for :footer_js, javascript_include_tag('jquery.simplemodal.js', 'emote_control.js') %>
<% content_for :head_css, stylesheet_link_tag('modal.css') %>

<div id="content-win-control" role="main">
  <div id="area">
    <!-- <%= flash_messages %> -->
    <div class="subsc_info">
      <% if current_user.can_add_scorecard? %>
        You have <%= current_user.scorecards_available %> e.mote&reg; spaces left. If you need more, delete an existing e.mote&reg; or upgrade your account.
      <% else %>
        You have reached the limit of available e.mote&reg; spaces. To create another, delete an existing e.mote&reg; or upgrade your account.
      <% end %>
      <% if current_user.plan.is_free? %>
        Scorecard is limited to the first 50 responses. To see more responses, upgrade now!
      <% end %>
      <p><%= link_to image_tag('upgrade_now_button.png'), new_account_subscription_path %></p>
    </div>
  </div>
 <% if current_user.can_add_scorecard? %>

  <div class="create_scorecard">
      <%= link_to image_tag('create_scorecard_button.png'), new_account_survey_path %>

      <a id='open-alerts-interval-dlg' href="#"
         onclick="showAlertsInterval(); return false;">
        <img src="images/alert_popup_button.png" alt="Alert_popup_button">
      </a>
  </div>

 <% end %>
 <% unless current_user.surveys.empty? %>
  <table id="emotes-table">
    <thead>
      <tr>
        <th class="first_column"><a class="tooltip" href="#">on/off<span class="classic">When active (on), your e.mote&reg; is available for use. When disabled (off), the e.mote&reg; page displays a "no longer active" message.</span></a></th>
        <th class="project-name"><a class="tooltip" href="#">e.mote&reg; subject<span class="classic">Click to see the e.mote&reg; scorecard.</span></a></th>
        <th><a class="tooltip" href="#">time active<span class="classic">How long the e.mote&reg; has been active.</span></a></th>
        <th><a class="tooltip" href="#">responses<span class="classic">The total number of respondents who took the e.mote&reg; survey. New responses are based on when the Scorecard was last opened.</span></a></th>
        <th class="last_column"><span class="hoverover">(Hover over a row for more options)</span></th>
      </tr>
    </thead>
    <% current_user.surveys.each do |survey| %>
      <tr class="<%= cycle('odd','even') %><%= survey.archived? ? ' disabled-row' : '' %>">
        <td class="first_column">
          <% if survey.suspended? %>
            <%=  image_tag 'exclamation.png', :title => 'Suspended, contact support for details' %>
          <% else %>
            <%= form_for("survey_#{survey.id}_archive", :url => account_survey_path(survey), :html => {:method => :put, :id => "survey_#{survey.id}_archive_form"}) do |f| %>
             <%= hidden_field_tag 'property', 'archive' %>
             <%= hidden_field_tag "survey_#{survey.id}_archive", !survey.archived? %>
             <%= image_submit_tag(survey.archived? ? 'off_button.png' : 'on_button.png', :title => "Switch #{survey.archived? ? 'on' : 'off'}") %>
            <% end %>
          <% end %>
        </td>
        <td class="project-name">
          <%= link_to_if !survey.archived?, survey.project_name, scorecard_account_survey_path(survey), :target => 'emote_preview'%>  <!-- linked the name to the scorecard instead of the preview -->
        </td>
        <td valign="middle">
          <%= survey.archived? ? '(none)' : time_ago_in_words(survey.activated_at) %>
        </td>
        <td valign="middle">
          <%= survey.visible_responses.count %>
          <% if survey.new_responses_count > 0 %>
            <span class="new-responses">(<%= survey.new_responses_count %> new)</span>
          <% end %>
        </td>
        <td class="last_column">
          <div class="buttonbar"><!-- Do not move the code of each button to the next line, because it creates space between buttons -->
            <%= link_to_function image_tag('link_button.png', :title => 'Links & QR Codes'), "showLinks('#{escape_javascript(survey.project_name)}','#{survey.emote_direct_link}', '#{survey.code}');" %><%= link_to_function image_tag('alert_button.png', :title => 'Alerts'), "showAlerts('#{escape_javascript(survey.project_name)}', '#{settings_account_survey_path(survey)}')"  %><%= link_to image_tag('scorecard_button.png', :title => 'Scorecard'), scorecard_account_survey_path(survey) %>
            <%= link_to_function image_tag('delete_verbatim.png', :title => 'Clear/Delete'), "$('#delete-dialog #clear-pane a').attr('href', '#{wipe_responses_account_survey_path(survey)}'); $('#delete-dialog #delete-pane a').attr('href', '#{account_survey_path(survey)}'); showDelete('#{escape_javascript(survey.project_name)}', #{survey.id})" %>
          </div>
        </td>

      </tr>
  <% end %>
  </table>
 <% end %>
</div>

<div id="links-dialog">
  <div class="dialog-title"></div>
  <div id="links-pane">
    <div class="popup-item">
      <div class="left-part">Email or IM link:</div>
      <div class="right-part"><%= text_area_tag 'scorecard_direct_link', 'scorecard_direct_link', :class => 'locked-selectall', :size => 60, :rows => 2, :cols => 35 %></div>
    </div>
    <div class="popup-item">
      <div class="left-part">Text website link:</div>
      <div class="right-part"><%= text_area_tag 'scorecard_embed_link', 'scorecard_embed_link', :class => 'locked-selectall', :size => 60, :rows => 2, :cols => 35 %></div>
    </div>
    <% %w(emote_black emote_white).each do |icon| %>
      <div class="popup-item">
        <div class="left-part"><%= image_tag "feedback_buttons/#{icon}.png" %></div>
        <div class="right-part"><%= text_area_tag "feedback-code-#{icon}", "feedback-code-#{icon}", :class => 'locked-selectall feedback-code', :rows => 3, :cols => 35 %></div>
      </div>
    <% end %>
  </div>
  <div id="qr-pane">
    <a class="tooltip tooltipleft">QR Code<span class="classic">QR codes can be scanned by iPhone and Android devices to immediately call up your e.mote&reg;. It’s a great way to encourage people to e.mote&reg; at a physical location where emailing or posting a link isn’t practical.</span></a>
    <br/><br/>
    <div id="qr-code-cover">
      <img src="" id="qr-code" alt="QR code"/>
    </div>
    
    <br/>
    <%= link_to 'Download', '#', :id => 'download-link' %>
  </div>
</div>

<div id="alerts-dialog">
  <div class="dialog-title">Activity Alerts</div>
  <%= form_for :activity_settings, :url => '#', :remote => true do %>
    
    <br/><br/>
    <div id="respondent-emails">
      I want e.mote&reg; respondents to be able to leave<br/>
      their email address so I can contact them:
      <br/>
      <%= radio_button_tag 'respondent_email', true %>
      <%= label_tag "respondent_email_true", 'Yes' %>
      <br/>
      <%= radio_button_tag 'respondent_email', false %>
      <%= label_tag "respondent_email_false", 'No' %>
      <div id="feedback-prompt-container">
        <%= label_tag 'feedback_prompt', "Message:" %><br/>
        <p align="center"><%= text_area_tag 'feedback_prompt', 'feedback_prompt', :size => 35, :rows => 2, :cols => 35  %></p>
      </div>
    </div>
    <br/>
    <center>
    <%= image_submit_tag 'save_settings_button.png' %>
    </center>
  <% end %>
</div>

<div id="alerts-interval-dialog">
  <div class="dialog-title">Activity Alerts</div>
  <%= form_for :activity_settings, :url => '#', :remote => true do %>
    <div id="activity-updates">
      Email me updates on e.mote&reg; activity:
      <br/>
      <% User::REPORT_INTERVAL_OPTIONS.each do |option| %>
        <%= radio_button_tag 'activity_report_interval', option %>
        <%= label_tag "activity_report_interval_#{option}", option.humanize %>
        <br/>
      <% end %>
    </div>

    <br/>
    <center>
    <%= image_submit_tag 'save_settings_button.png' %>
    </center>

    <br/><br/>
  <% end %>
</div>

<div id="delete-dialog">
  <div class="dialog-title"></div>
  <div id="clear-pane">
    <h3>Clear Data</h3>
    <br/>
    <p>
      Clear all the data from the Scorecard.
      <% if current_user.plan.is_free? %>This allows you to collect another set of responses for this e.mote&reg;.<% end %>
    </p>
    <br/>
    <%= link_to image_tag('clear_data_button.png'), '', :method => :delete, :confirm => 'This cannot be undone. Are you sure?' %>
  </div>
  <div id="delete-pane">
    <h3>Delete e.mote&reg;</h3>
    <br/>
    <p>
      Delete an e.mote&reg; and its Scorecard. This gives you room to create a new e.mote&reg;.
    </p>
    <br/>
    <%= link_to image_tag('delete_emote_button.png'), '', :method => :delete, :confirm => 'This cannot be undone. Are you sure?' %>
  </div>
</div>
