<% content_for :footer_js, javascript_include_tag('jquery-ui-1.8.9.custom.min.js', 'emote_control.js') %>
<% content_for :head_css, stylesheet_link_tag('jquery-ui-1.8.9.custom.css') %>

<div id="content-win-control" role="main">
<div id="area">
  <%= flash_messages %>
  <table>
    <caption>e.mote Control</caption>
    <thead>
      <tr>
        <th class="project-name">PROJECT NAME</th>
        <th>e.mote SCORE</th>
        <th>START DATE</th>
        <th>TOTAL e.moters</th>
        <th>ACTIVE</th>
        <th>MAKE PUBLIC</th>
        <th>SCORECARD EMBED/LINK</th>
        <th>SCORECARD</th>
        <th>e.mote LINK</th>
        <th></th>
      </tr>
    </thead>
    <% @surveys.each do |survey| %>
      <tr class="<%= cycle('odd','even') %>">
        <td class="project-name first-col">
          <%= survey.project_name %>
        </td>
        <td>
          <%= survey.score %>
        </td>
        <td valign="middle">
          <%= survey.created_at.strftime('%m/%d/%Y') %>
        </td>
        <td valign="middle">
          <%= survey.responses_count %>
        </td>
        <td>
          <%= form_for("survey_#{survey.id}_active", :url => account_survey_path(survey), :html => {:method => :put, :id => "survey_#{survey.id}_active_form"}) do |f| %>
            <%= hidden_field_tag 'property', 'active' %>
            <%= check_box_tag "survey_#{survey.id}_active", true, survey.active, :onchange => "$('#survey_#{survey.id}_active_form').submit();" %>
          <% end %>
        </td>
        <td>
          <%= form_for("survey_#{survey.id}_active", :url => account_survey_path(survey), :html => {:method => :put, :id => "survey_#{survey.id}_public_form"}) do |f| %>
            <%= hidden_field_tag 'property', 'public' %>
            <%= check_box_tag "survey_#{survey.id}_public", true, survey.public, :onchange => "$('#survey_#{survey.id}_public_form').submit();" %>
          <% end %>
        </td>
        <td>
          <% if survey.public_scorecard %>
            <%= link_to image_tag('get_code_button.png'), '#', :onclick => "showLinks('#{public_scorecard_account_surveys_url(:code => survey.code)}');" %></td>
          <% else %>
            <%= image_tag('get_code_button-disabled.png') %>
          <% end %>
        <td>
          <%= link_to image_tag('open_button.png'), scorecard_account_survey_path(survey)%>
        </td>
        <td>
          <% if survey.active %>
            <%= link_to image_tag('emote_link_enabled.png'), survey.emote_direct_link, :target => 'emotepreview'%>
          <% else %>
            <%= image_tag('emote_link_disabled.png') %>
          <% end %>
        </td>
        <td class="last-col">
          <%= link_to image_tag('trash_icon.png'), account_survey_path(survey), :method => :delete, :confirm => 'Are you sure? This will permanently delete this e.mote and all collected data.' %>
        </td>
      </tr>
    <% end %>
  </table>

  <div id="create-emote">
    <% if current_user.can_add_scorecard? %>
        <%= link_to image_tag('create-emote_button.png'), new_account_survey_path %>
        <div id="add-scorecard">
            You currently are subscribed to <%= current_user.scorecards_available %> ScoreCards. <%= link_to 'Click here', new_account_subscription_path %> to add more to your account.
        </div>
    <% else %>
        <div id="scorecard-limit">
            You don't have free slots for new e.mote. Delete one or buy more credits <%= link_to 'here', new_account_subscription_path %>
        </div>
    <% end %>
  </div>
</div>
</div>

<div id="links-dialog">
  <p>Paste link in <strong>email</strong> or <strong>IM</strong>:</p>
  <%= text_field_tag 'scorecard_direct_link', 'scorecard_direct_link', :readonly => true, :size => 60 %>
  <br/>
  <br/>
  <p>Paste this HTML to embed in website:</p>
  <%= text_field_tag 'scorecard_embed_link', 'scorecard_embed_link', :readonly => true, :size => 60 %>
</div>
