<%= flash_messages %>

<h3>E.motes</h3>

<b><%= current_user.scorecards_available %> scorecards left</b><br/>

<table>
	<tr>
		<td>PROJECT NAME</td>
		<td>e.mote SCORE</td>
		<td>START DATE</td>
		<td>TOTAL e.moters</td>
		<td>ACTIVE</td>
		<td>MAKE PUBLIC</td>
		<td>SCORECARD EMBED/LINK</td>
		<td>SCORECARD</td>
		<td>e.mote LINK</td>
		<td>[]</td>
	</tr>
	<% @surveys.each do |survey| %>
	<tr>
		<td><%= survey.project_name %></td>
		<td><%= survey.score %></td>
		<td><%= survey.created_at.strftime('%m/%d/%Y') %></td>
		<td><%= survey.responses_count %></td>
		<td>
                  <%= form_for("survey_#{survey.id}_active", :url => account_survey_path(survey), :html => {:method => :put, :id => "survey_#{survey.id}_active_form"}) do |f| %>
                    <%= hidden_field_tag 'property', 'active' %>
                    <%= check_box_tag "survey_#{survey.id}_active", true, survey.active, :onchange => "$('#survey_#{survey.id}_active_form').submit();" %>
                  <% end %>
		</td>
		<td>
                  <%= form_for("survey_#{survey.id}_active", :url => account_survey_path(survey), :html => {:method => :put, :id => "survey_#{survey.id}_public_form"}) do |f| %>
                    <%= hidden_field_tag 'property', 'public' %>
                    <%= check_box_tag "survey_#{survey.id}_public", true, survey.public, :onchange => "$('#survey_#{survey.id}_public_form').submit();" %>
                  <% end %>
		</td>
		<td><%= link_to 'SCORECARD EMBED/LINK', public_scorecard_account_surveys_path(:code => survey.code)%></td>
		<td><%= link_to 'SCORECARD', scorecard_account_survey_path(survey)%></td>
		<td>e.mote LINK</td>
		<td><%= link_to '[D]', account_survey_path(survey), :method => :delete, :confirm => 'Are you sure? This will permanently delete this e.mote and all collected data.' %></td>
	</tr>
	<% end %>
</table>

<% if current_user.can_add_scorecard? %>
	<%= link_to 'Create new e.mote', new_account_survey_path %>
<% else %>
	You don't have free slots for new e.mote. Delete one or buy more credits <%= link_to 'here', new_account_subscription_path %>
<% end %>