<% content_for :footer_js, javascript_include_tag('jquery-ui-1.8.9.custom.min.js', 'emote_control.js', 'QRCode.js') %>
<% content_for :head_css, stylesheet_link_tag('jquery-ui-1.8.9.custom.css') %>

<div id="content-win-control" role="main">
<div id="area">
  <!-- <%= flash_messages %> -->
  <table>
    <caption>e.mote&trade; Control</caption>
    <thead>
      <tr>
        <th><a class="tooltip" href="#">ON/OFF<span class="classic">Prevent new e.motes&trade; from being submitted. The message "e.mote&trade; no longer active" will be shown.</span></a></th>
        <th class="project-name"><a class="tooltip" href="#">E.MOTE&trade; SUBJECT<span class="classic">Click on e.mote&trade; name to see Scorecard.</span></a></th>
        <th><a class="tooltip" href="#">TIME ACTIVE<span class="classic">Date the e.mote&trade; was created.</span></a></th>
        <th><a class="tooltip" href="#">RESPONSES<span class="classic">Enter this code at http://emotethis.com to take the e.mote&trade;</span></a></th>
        <th><a class="tooltip" href="#">LINKS & QR CODES<span class="classic">Get a link or embed image to paste into emails, websites, IM, Facebook, Twitter, etc.</span></a></th>
        <th><a class="tooltip tooltipleft" href="#">VIEW SCORECARD<span class="classic">Take e.mote&trade; survey</span></a></th>
        <th><a class="tooltip tooltipleft" href="#">ALERTS<span class="classic">Purge an e.mote&trade; and its data. This will free up a slot so you can create a new e.mote&trade;.</span></a></th>
        <th><a class="tooltip tooltipleft" href="#">CLEAR/DELETE<span class="classic">Clear all the data from this e.mote Scorecard. This allows you to collect another set of 50 responses for this e.mote.</span></a></th>
      </tr>
    </thead>
    <% current_user.plan.emote_amount.times do |i| %>
      <% if survey = @surveys[i] %>
        <tr class="<%= cycle('odd','even') %> <%= survey.archived? ? 'disabled-row' : '' %>">
          <td class="first-col">
            <% if survey.suspended? %>
              <%=  image_tag 'exclamation.png', :title => 'Suspended, contact support for details' %>
            <% else %>
              <%= form_for("survey_#{survey.id}_archive", :url => account_survey_path(survey), :html => {:method => :put, :id => "survey_#{survey.id}_archive_form"}) do |f| %>
               <%= hidden_field_tag 'property', 'archive' %>
               <%= hidden_field_tag "survey_#{survey.id}_archive", !survey.archived? %>
               <%= image_submit_tag(survey.archived? ? 'off_icon.png' : 'on_icon.png', :title => "Switch #{survey.archived? ? 'on' : 'off'}") %>
              <% end %>
            <% end %>
          </td>
          <td class="project-name">
            <%= link_to_if !survey.archived?, survey.project_name, survey.emote_direct_link, :target => 'emote_preview'%>
          </td>
          <td valign="middle">
            <%#= ((Time.now - survey.created_at)/1.day).to_i %>
            <%= survey.archived? ? '(none)' : time_ago_in_words(survey.activated_at) %>
          </td>
          <td valign="middle">
            <%= survey.responses_count %>
            <% if survey.new_responses_count > 0 %>
              <span class="new-responses">(<%= survey.new_responses_count %> new)</span>
            <% end %>
          </td>
          <td>
            <%= link_to_function image_tag('links_icon.png', :title => 'Get links and buttons for people to click to take e.mote'), "showLinks('#{survey.project_name}','#{survey.emote_direct_link}', '#{survey.code}');" %>
          </td>
          <td>
            <%= link_to image_tag('scorecard_icon.png'), scorecard_account_survey_path(survey) %>
          </td>
          <td>
            <%= link_to_function image_tag('alert_icon.png'), 'alert("Not implemented")'  %>
          </td>
          <td class="last-col">
            <%= link_to_function image_tag('trash_icon.png'), "$('#delete-dialog #clear-pane a').attr('href', '#{wipe_responses_account_survey_path(survey)}'); $('#delete-dialog #delete-pane a').attr('href', '#{account_survey_path(survey)}'); showDelete('#{survey.project_name}', #{survey.id})" %>
          </td>
        </tr>
    <% else %>
        <tr class="<%= cycle('odd','even') %> emtpy-row">
          <td>&nbsp;</td>
          <td class="project-name">(<%= link_to 'Click to create', new_account_survey_path %>)</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
    <% end %>
  <% end %>
  </table>
</div>
  <div id="create-emote">
    Need more e.motes&trade;? <%= link_to image_tag('upgrade_now_button.png'), new_account_subscription_path %>
  </div>
</div>

<div id="links-dialog" style="visibility: hidden;">
  <div id="links-pane">
    <div class="popup-item">
      <div class="left-part">Email or IM link:</div>
      <div class="right-part"><%= text_area_tag 'scorecard_direct_link', 'scorecard_direct_link', :class => 'locked-selectall', :size => 60, :rows => 2, :cols => 35 %></div>
    </div>
    <div class="popup-item">
      <div class="left-part">Text website link:</div>
      <div class="right-part"><%= text_area_tag 'scorecard_embed_link', 'scorecard_embed_link', :class => 'locked-selectall', :size => 60, :rows => 2, :cols => 35 %></div>
    </div>
    <% %w(emote_black emote_white).each do |icon| %>
      <div class="popup-item">
        <div class="left-part"><%= image_tag "feedback_buttons/#{icon}.png" %></div>
        <div class="right-part"><%= text_area_tag "feedback-code-#{icon}", "feedback-code-#{icon}", :class => 'locked-selectall feedback-code', :rows => 3, :cols => 35 %></div>
      </div>
    <% end %>
  </div>
  <div id="qr-pane">
    QR Code
    <br/><br/>
    <div id="qr-code"/>
  </div>
</div>

<div id="delete-dialog" style="visibility: hidden;">
  <div id="clear-pane">
    <h3>Clear Data</h3>
    <br/>
    <p>
      Clear all the data from the Scorecard.
      <% if current_user.plan.is_free? %>This allows you to collect another set of responses for this e.moteTM.<% end %>
    </p>
    <br/>
    <%= link_to image_tag('clear_data_button.png'), '', :method => :delete, :confirm => 'This cannot be undone. Are you sure?' %>
  </div>
  <div id="delete-pane">
    <h3>Delete e.mote&trade;</h3>
    <br/>
    <p>
      Delete an e.moteTM and its Scorecard. This gives you room to create a new e.moteTM.
    </p>
    <br/>
    <%= link_to image_tag('delete_emote_button.png'), '', :method => :delete, :confirm => 'This cannot be undone. Are you sure?' %>
  </div>
</div>
