<div id="content-win-centr">

    <div id="create-survey">
        <div class="big-text">Create e.mote&trade; </div>
        <div class="instruction">Enter the subject (dining, service, etc.). It should be clear and concise (one to three words)
	    and focus on experiences that generate emtion.
	</div>
	<%= form_for @survey, :as => :survey, :url => account_surveys_path, :html => {:method => :post} do |f| %>
	<div id="preview-win">
	    <div id="preview-text">Tell us how you felt about your most recent experience with <br/>
		<%= f.text_field :project_name, :id => 'emote-subject', :class => 'defaultText', :default_text => '[ENTER SUBJECT HERE]' %>
	    </div>
        </div>
	<%= errors_for(@survey) %>
        <div id="publish-button"><%= image_submit_tag("create_button.png") %> <%= link_to 'Cancel', account_surveys_path %></div>
        <% end %>
    </div>

</div>

