<h3>New emote</h3>

<%= errors_for @survey %><%= flash_messages %>

<%= form_for @survey, :as => :survey, :url => account_surveys_path, :html => {:method => :post} do |f| %>
	Enter e.mote subject:<%= f.text_field :project_name %><br/>
	<%= submit_tag 'Publish' %> <%= link_to 'Cancel', account_surveys_path %>
<% end %>