<div id="content-win-centr-scorecard" role="main">
  <div class="survey-title">

  </div>
    <div id="scorecard-content">
		<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
		<%= javascript_include_tag 'highcharts.js' %>
        <%= javascript_include_tag 'scorecard.js' %>

    <style type="text/css">
        .commentRow1 {
            height:45px;
            width: 1150px;
            background-color: #FFFFFF;
            font-size: 11px;
        }
        .commentRow2 {
            height:45px;
            width: 1150px;
            background-color: #f0f0f0;
            font-size: 11px;
        }
    </style>
		
<script type="text/javascript">

    var colors = {'green': '#689839', 'red': '#c93337', white: '#FFFFFF', grey: '#CCCCCC'};
	var intensity = {pp: 'enthusiasts', /*mp: 'participants',*/ mn: 'indifferent', pn:'detractors'};
	var pieColors = {pp: '#0db5d4', /*mp: '#cccccc',*/ mn: '#ececec', pn: '#eeae01'};
	<% results = @survey.result_obj %>
	var configTotals = <%= raw results[:totals].to_json -%>;
	var configBars = <%= raw results[:bars].to_json -%>;
	var configPie = <%= raw results[:pie].to_json -%>;
	var configVerbatim = <%= raw @survey.verbatims_obj('', '', nil, true).to_json -%>;
    var strEmotionLabel = "<span>emotion: </span>";
    var strCategoryLabel = "<span>category: </span>";
    var strSearchLabel = "<span>search: </span>";

    /**
     * putting together indifferent and participants category
     */
    configPie.mn+=configPie.mp;
    configPie.mp=0;

    $(document).ready(function() {
        renderBarChart(configBars);
		renderPieChart(configPie);
        loadComments(configVerbatim);

		$('#btnCommentFilter').click(filterVerbatim);
        $('#btnCommentClearFilter').click(function (){
            $('#txtCommentFilter').val('');
            filterVerbatim();
        });

        $('#see_all_comments').click(function (){
            $('#txtCommentFilter').val('');
            filterVerbatim();
            $('#emotionLabel').html("comments: all emotions");
            document.getElementById('see_all_comments').style.visibility = 'hidden';
        });

	});

    function loadComments(config){
        var verbatimHTML = "<table style='width: 1103px;'>\n";
        var i=0;
        var tr = '';
        for (var key in config){
            var row = config[key];
            var remainder = i % 2;

            var strEvents = '';
            if (remainder == 1) tr = "\n<tr "+strEvents+" class='commentRow1'>\n";
            else tr = "\n<tr " +strEvents+ " class='commentRow2'>\n";


            var strEmoteTitle = row.face.split('_')[0];
            verbatimHTML+= tr + "\n<td align='left' style='vertical-align:middle;'>\n" +
                    "&nbsp;&nbsp;<img width='20px' height='20px' " +
                    " title='" + strEmoteTitle + "'" +
                    " src='/images/verbatim_intensity/" +
                    row.face + ".png'>&nbsp;&nbsp;  \n" + row.text + "\n</td>\n"+
                    "\n<td align='right' style='vertical-align:middle;color:#5b5b5b;'>\n" +
                    row.timestamp + "&nbsp;" +
                    "\n&nbsp;<td/>\n</tr>\n";
            i++;
        }
        verbatimHTML+= '\n</table>\n';
        $('#verbatimText').html(verbatimHTML);
    }
						</script>

         <div class="scorecard_data">
            <!-- 3. Add the container -->
            <div id="barChart" class="spectrum"></div>
            <div id="totalResp" class="t-responses"></div>
            <div id="pieChart" class="barometer"></div>

            <div class="comments_data">
             
               <table>
                 <tr>
                   <td class="left_r-corners"></td>    
                   <td class="center-emotion">
                     <div id='emotionLabel'> comments: all emotions </div>
                   </td>
                   <td class="right_r-corners"></td>
                   <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                   <td><a style="cursor: pointer;visibility: hidden;" id='see_all_comments'>See all comments</a></td>
                 </tr>
               </table>


             <input class="magnifying_glass" type="image" src="../../../images/magnifying_glass_icon.png" id="btnCommentFilter" />
             <input class="filter" type="text" id="txtCommentFilter" size="35" />
             <input class="clear-filter" type="image" src="../../../images/clear_comments_button.png" id="btnCommentClearFilter" />
            </div>
            
            <div class="table_comments" id="verbatimText"></div>
            <div class="clear"></div>
         </div>

    </div>
</div>
