<div id="content-win-centr-scorecard" role="main">
  <div class="survey-title"><%= @survey.project_name %></div>
    <div id="scorecard-content">
		<%= javascript_include_tag '/fx/AC_OETags.js' %>

		<script language="JavaScript" type="text/javascript">
		var requiredMajorVersion = 10;
		var requiredMinorVersion = 0;
		var requiredRevision = 124;
		</script>

		<script language="JavaScript" type="text/javascript">
		var hasProductInstall = DetectFlashVer(6, 0, 65);
		var hasRequestedVersion = DetectFlashVer(requiredMajorVersion, requiredMinorVersion, requiredRevision);

		if ( hasProductInstall && !hasRequestedVersion ) {
			var MMPlayerType = (isIE == true) ? "ActiveX" : "PlugIn";
			var MMredirectURL = encodeURI(window.location);
		    document.title = document.title.slice(0, 47) + " - Flash Player Installation";
		    var MMdoctitle = document.title;

			AC_FL_RunContent(
				"src", "/fx/playerProductInstall",
				"FlashVars", "MMredirectURL="+MMredirectURL+'&MMplayerType='+MMPlayerType+'&MMdoctitle='+MMdoctitle+"",
				"width", "1140",
				"height", "100%",
				"align", "middle",
				"id", "main",
				'wmode', 'opaque',
				"quality", "high",
				"bgcolor", "#ffffff",
				"name", "main",
				"allowScriptAccess","sameDomain",
				"type", "application/x-shockwave-flash",
				"pluginspage", "http://www.adobe.com/go/getflashplayer"
			);
		} else if (hasRequestedVersion) {
			AC_FL_RunContent(
					"src", "/fx/main",
					"FlashVars", "survey=<%= @survey.code -%>&survey_id=<%= @survey.id -%>&action_token=<%= @survey.action_token -%>",
					"width", "1140",
					"height", "100%",
					"align", "middle",
					"id", "main",
					'wmode', 'opaque',
					"quality", "high",
					"bgcolor", "#ffffff",
					"name", "main",
					"allowScriptAccess","sameDomain",
					"type", "application/x-shockwave-flash",
					"pluginspage", "http://www.adobe.com/go/getflashplayer"
			);
		  } else {  // flash is too old or we can't detect the plugin
		    var alternateContent = 'Alternate HTML content should be placed here. '
		  	+ 'This content requires the Adobe Flash Player. '
		   	+ '<a href=http://www.adobe.com/go/getflash/>Get Flash</a>';
		    document.write(alternateContent);  // insert non-flash content
		  }
		// -->
		</script>
		<noscript>
		  	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
					id="main" width="1140" height="100%"
					codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
					<param name="movie" value="/fx/main.swf?survey_id='+<%= @survey.id -%>+'&survey='+<%= @survey.code -%>+'&action_token='+<%= @survey.action_token -%>" />
					<param name="quality" value="high" />
					<param name="bgcolor" value="#ffffff" />
					<param name="wmode" value="opaque" />
					<param name="allowScriptAccess" value="sameDomain" />
					<embed src="main.swf?survey_id='+<%= @survey.id -%>+'&survey='+<%= @survey.code -%>+'&action_token='+<%= @survey.action_token -%>" quality="high" bgcolor="#ffffff"
						width="1140" height="100%" name="main" align="middle"
						play="true"
						loop="false"
						quality="high"
						allowScriptAccess="sameDomain"
						type="application/x-shockwave-flash"
						pluginspage="http://www.adobe.com/go/getflashplayer">
					</embed>
			</object>
		</noscript>
    </div>
    <div class="share_scorecard">
	<strong>Share Scorecard</strong> <span class="share_link_scorecard"><strong>Link: </strong><%= text_field_tag '', public_scorecard_url(:code => @survey.scorecard_code) %></span>
    </div>
</div>
