<h4>Edit subscription</h4>
<%= form_for @subscription, :as => :subscription, :url => admin_subscription_path(@subscription), :html => { :method => :put } do |f| %>
  For user: <%= @subscription.user.email %>
  <br/>
  <%= render :partial => 'form', :locals => { :f => f, :subscription => @subscription } %>
  <%= submit_tag 'Save' %> or <%= link_to 'Cancel', admin_subscriptions_path %>
<% end %>
