<div id="content-win-centr" role="main">
  <div id="almost-content">

    <span class="big-text">Account Confirmed!</span>
    <span class="acc_text">
      <p>Thank you!  Your login ID will be <strong><%= resource.email %></strong>. Please select a secure password for your account (at least 5 digits, case sensitive).</p>
    </span>

   <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :id=>"account-confirmation" }) do |f| %>
    <div class="field">
      <%= f.label :password, 'New Password:' %>
      <%= f.password_field :password, :maxlenght=>25, :required=>true %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'New Password (confirm):' %>
      <%= f.password_field :password_confirmation, :maxlenght=>25, :required=>true %>
    </div>

    <%= errors_for(resource) %><%= flash_messages %>


      <div class="setpw">
        <%= image_submit_tag("setpw_button.png") %>
      </div>
    <% end %>

   </div>
</div>