<div id="login-content">
  <div id="login-form">
    <span class="big-text">Inspiration Engine Welcomes You!</span>

    <br/>
    <span class="medium-text">Please login below.</span>

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, 'Email Address' %><br/>
        <%= f.email_field :email, :required => true %>
      </div>
      <div class="field">
        <%= f.label :password, 'Password' %><br/>
        <%= f.password_field :password, :required => true %>
      </div>

      <% if devise_mapping.rememberable? -%>
      <div class="field-checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me, 'Remember me' %>
      </div>
      <% end -%>

      <div id="submit-area">
          <%= image_submit_tag("login_button.png") %> 
          <%= link_to "Forgot your password?", new_password_path(resource_name) %>
      </div>
    <% end %>


    <div id="login-error">Login not Recognized. Please try again.</div>
  </div>

  <div class="vr" > &nbsp; </div>

  <div id="create-account">
    <div id="no-account">
      <div class="big-text">No Account?</div>
      <div class="medium-text">No Problem.</div>
    </div>
    <img src="images/right_arrow.png"/>
    <div id="create-one">
      <%= link_to 'Create One', new_registration_path(resource_name), :class => 'big-text' %>
      <div class="medium-text">It's easy, we swear.</div>
    </div>
  </div>
</div>
