<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <title><%= @title || 'My e.motes' %></title>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <%= javascript_include_tag :defaults  %>
  <link rel="Shortcut Icon" href="/favicon.ico"/>
  <%= csrf_meta_tag %>
</head>

<body>
	<div id="top_menu">
		<% if admin_signed_in? %>
			<%= link_to 'Accounts List', admin_accounts_path %>
			<%= link_to 'e.motes List', admin_emotes_path %>
			<%= link_to 'Subscriptions List', admin_subscriptions_path %>
		<% end %>
	</div>
	<div id="content">
      <%= yield %>
	</div>
	<div id="footer">
		
	</div>
</body>
</html>